*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
.container{
      background-color: rgb(94, 181, 184);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 600px;
}
.contact{
      background-color: rgb(135, 187, 189);
      width: 35%;
      /* justify-content: center;
      align-items: center; */
      height: 400px;
      border: black 2px solid;
      border-radius: 20px;
      
}
.logo{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      width: 45%;
      padding: 25px 0 ;
      margin-left:10%;
}
.logo img{
      width: 40px;
}
h2{
      font-size:18px;
      font-family: cursive;

}